In [1]:
a = eval("3.14")
print(a)

3.14

In [2]:
print("{1}: {0:.6f}".format(3.1415926,"π"))

π: 3.141593

In [3]:
a = "ABC"
b = a 
a = "XYZ"
print(b)

ABC

In [4]:
x = "abc"
y = "abc"
print(id(x)==id(y))

True

In [5]:
x = 1 
if x :
    print('x is {}'.format(x))

x is 1

In [6]:
def f(x,y=0,z = 0):pass 
f(1, ,3)

SyntaxError: invalid syntax (4084987204.py, line 2)

In [7]:
def fun1(a,b,*args):
    print(a)
    print(b)
    print(args)
fun1(1,2,3,4,5,6)

1
2
(3, 4, 5, 6)

In [9]:
all([1,True,True])

True

In [12]:
ab = 4
def myab (ab,xy) :
    ab= pow(ab,xy)
    print(ab,end=" ")
myab (ab , 2)
print( ab)

16 4

In [21]:
da = [1,2,3]
print(id(da))
def getda(st):
    fa = da.copy()
    print(id(fa))
getda(da)

2146657500992
2146663006784

In [25]:
def func(num):
    num *= 2
x =20
func(x)
print(x)

20

In [31]:
def func(a,*b):
    for item in b:
        a += item
    return a
m = 0
print(func(m,1,1,2,3 ,5,7,12,21,33))

85

In [33]:
def calu(x = 3,y = 2, z = 10):
    return(x ** y * z)
h = 2
w = 3
print(calu(h,w))

80

In [37]:
s = 0
def fun(num):
    try:
        s += num
        return s
    except:
        return 0
    
    return 5
print(fun(2))

0

In [38]:
def test(b = 2, a = 4):
    global z
    z += a * b
    return z
z = 10 
print(z, test())

10 18

In [40]:
def hub(ss,x = 2.0,y = 4.0):
    ss += x * y
ss=10
print(ss, hub(ss, 3))

10 None

In [47]:
def fun(x,y="Name",z = "No") :pass

print(fun(1))

None

In [48]:
def split(s):
    return s.split("a")

s = "Happy birthday to you!"
print(split(s))

['H', 'ppy birthd', 'y to you!']

In [49]:
n=2
def multiply(x,y=10):
    global n
    return x * y * n
s = multiply(10,2)
print(s)

40

In [50]:
ls = []
def func(a,b):
    ls.append(b)
    return a*b
s = func("Hello!",2)
print(s,ls)

Hello!Hello! [2]

In [51]:
def thank_you(name):
    # This function prints a two-line personalized thank you message.
    print("\nYou are doing good work, %s!" % name)
    print("Thank you very much for your efforts on this project.")
    
thank_you('Billy')
thank_you('Caroline')
thank_you()

You are doing good work, Billy!
Thank you very much for your efforts on this project.

You are doing good work, Caroline!
Thank you very much for your efforts on this project.

TypeError: thank_you() missing 1 required positional argument: 'name'

In [52]:
def describe_person(first_name, last_name, age):
    # This function takes in a person's first and last name,
    #  and their age.
    # It then prints this information out in a simple format.
    print("First name: %s" % first_name.title())
    print("Last name: %s" % last_name.title())
    print("Age: %d\n" % age)

describe_person(71, 'brian', 'kernighan')
describe_person(70, 'ken', 'thompson')
describe_person(68, 'adele', 'goldberg')

AttributeError: 'int' object has no attribute 'title'

In [53]:
def comp(x=2.0,y):
    area = x * y
    return area

print(comp(4,3))

SyntaxError: non-default argument follows default argument (2822896797.py, line 1)

In [54]:
ls1 = ['pp']
def test(ls):
    ls1 = ls.copy()
    return ls1
ls =['aa','bb','cc','dd']
test(ls)
print(ls1)

['pp']

In [55]:
g1 = [12,34,56]
g2 = [1,2,3]
def modify():
    g1 =g2
    print(g1)

modify()

[1, 2, 3]

In [56]:
def fun(a,b,c):
    s = a*2+c*3+b*5
    print(s)

fun(1,c=3,b=2)

21

In [57]:
s = [1,2] 
def fun(a,b=3): 
   s.append(a+b) 
   return s 
print(fun(1))

[1, 2, 4]

In [58]:
def fun1(a):
    a = 10

b=2
fun1(b)
print(b)

2

In [62]:
def fib(n):
    a,b = 0,1
    while b < n:
        print (b,end=" ")
        a,b = b, a+b
    print()

def fib2(n):
    result = []
    a,b = 0,1
    while b < n:
        result.append(b)
        a,b = b,a+b
        return result
fib(100)
fib2(100)

1 1 2 3 5 8 13 21 34 55 89

[1]

In [63]:
def exchange(a,b):
    a,b=b,a
    return(a,b)

x =10 
y = 20
x,y = exchange(x,y)
print(exchange(x,y))

(10, 20)

In [65]:
def fact(n,m=1):
    s =1
    for i in range(1,n+1):
        s *= i
    return s // m
print(fact(5,3))
print(fact(m = 3,n = 5))

40
40

In [66]:
print(3+5%6*2//8)

4

In [7]:
str = 'ab998'
type(eval(str[:2]))

NameError: name 'ab' is not defined

In [1]:
round(20/3,3)

6.667

In [2]:
word = 'hello'
word[0] = 'w'

TypeError: 'str' object does not support item assignment

In [3]:
'a' < 'Alice'

False

In [4]:
2**2**3

256

In [5]:
z = 3+4j
print(z+5j)
print(z+5j.real)
print(z+5j.imag)

(3+9j)
(3+4j)
(8+4j)

In [6]:
type('7') in (int,float,complex)

False

In [7]:
print('''Man said, "let's play."''')

Man said, "let's play."

In [8]:
list(3,2)

TypeError: list expected at most 1 argument, got 2

In [9]:
pow(2,3)==pow(2.0,3)

True

In [11]:
str = 'python'
str[0] = 'P'
print(str)

TypeError: 'str' object does not support item assignment

In [1]:
str = "Python语言程序设计"
str.isnumeric()

False

In [2]:
s1 ="袋鼠"
print("{0}生活在主要由母{0}和小{0}组成的较小的群体里。".format(s1))

袋鼠生活在主要由母袋鼠和小袋鼠组成的较小的群体里。

In [2]:
(255 > 55) == true

NameError: name 'true' is not defined

In [4]:
len("譬如朝霞，去日苦多。") > len("Hello world!")

False

In [5]:
print(2**2*3)
print(2*2**3)

12
16

In [6]:
"hellohellohello"/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [1]:
str1 = "Process finished with exit code"
for s in str1:
    if s == 'h':
        break
    if s == 's':
        continue
    print(s,end='')

Proce fini

In [4]:
1010 == 0x3f2

True

In [5]:
s = pow(2,pow(2,15))
print(len(str(s)))

ValueError: Exceeds the limit (4300 digits) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [7]:
for i in range(5):
    if i == 3:
        print('found it! i = ',i)
        break

else:
    print('not found it....')

found it! i =  3

In [8]:
for a in "hello":
    print(a,end="")
    if a=="e":
        break

he

In [9]:
i = 1
while i % 5:
    print(i,end = ' ')
    if i >= 10:
        break
    i += 1

1 2 3 4

In [10]:
s = "PYTHON"
while s != "":
    for c in s:
        print(c,end="")
    s = s[:-1]

PYTHONPYTHOPYTHPYTPYP

In [11]:
for c in "PYTHON":
    if c == "T":
        continue
    print(c,end="")
else:
    print("正常退出")

PYHON正常退出

In [4]:
s = '234_dfd'
flag = 0
for i in s:
    if'0'> i or i > '9':
        if i < 'A' or i > 'Z':
            if i < 'a' or i > 'z':
                flag = 1
                break
        else:
            flag = 2
    else:
        flag = 3
else:
    flag = 4
print('flag = ',flag)

flag =  1

In [1]:
#146
for num in range(1,4):
    sum *= num
print(sum)

TypeError: unsupported operand type(s) for *=: 'builtin_function_or_method' and 'int'

In [2]:
try:
    num = eval(input("请输入一个列表："))
    num.reverse()
    print(num)

except:
    print("输入的不是列表")

In [1]:
s = pow (2,pow(2,15))
print(len(str(s)))

ValueError: Exceeds the limit (4300 digits) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [2]:
x = 45
y = 80
while x < 50 and y < 100:
    x = x + 2
    y = y + 2
    print(x,y)

47 82
49 84
51 86

In [3]:
x = 10
y = 12
if x>y>z:
    print('x>y')
else:
    print('x<y')

x<y

In [5]:
for i in "Summer":
    if i == "m":
        break
        print(i)

In [1]:
sites = ["BIT", "NJN", "NJNU", "HYIT"]
for site in sites:
    if site == "NJN":
        print("南京大学")
        break
    print("循环数据")
else:
    print("没有循环数据")
print("完成循环")

循环数据
南京大学
完成循环

In [2]:
""==True

False

In [3]:
#174
y = [0,'']
print(all(y), any(y))

False False

In [13]:
ss = set("htslbht")
sorted(ss)
for i in ss :
    print(i,end = '')

slbht

In [15]:
#178
list1 = ['aa',[2,3,4.1]]
list1[1].insert(len(list1),3.0)
print(list1)

['aa', [2, 3, 3.0, 4.1]]

In [16]:
#179
d = {'shandong':[12,23,34],'beijing':[67,34,36]}
l = list(d.items())
print(l)

[('shandong', [12, 23, 34]), ('beijing', [67, 34, 36])]

In [17]:
#180
img1 = [['zhang',98], ['zhao',80]]
stud = img1[0]
stud[1] = 90
print(img1)

[['zhang', 90], ['zhao', 80]]

In [18]:
x = ( 48, 72,16)
list(x)

[48, 72, 16]

In [1]:
ca = [1,2,3,4,5,6]
la = ca [ ::-1]
ca[2:5] = la
print(ca)

[1, 2, 6, 5, 4, 3, 2, 1, 6]

In [26]:
a = {1,2,3,4,5,6}
# a.pop()
print(a[0])

TypeError: 'set' object is not subscriptable

In [1]:
x = eval(input())
y = eval(input())
print(abs(x+y))

In [1]:
a =12 
a + "34"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
print(dict(zip(range(10,0,-2),range(0,10,2))))

{10: 0, 8: 2, 6: 4, 4: 6, 2: 8}

In [7]:
try:
    with open('data.txt','r') as f:
        ts = f.write('hello')
    print('open OK ')
except:
    print('file operation error')

file operation error

In [8]:
#169
mstr = 'AKCAQB8vXG0I'
for i in mstr:
    if '0' <= i <= '9':
        mstr.replace(i,'')
        continue
    else:
        print(i,end='')
print('\n',mstr)

AKCAQBvXGI
 AKCAQB8vXG0I

In [9]:
d = {"zhang":"A", "Jone":"B", "Natan":"D", "Ella":"C"}
for k in d:
    if d[k] == 'D':
        del(d[k])
print(d)

RuntimeError: dictionary changed size during iteration

In [10]:
# 178
list1 = ['aa', [2,3,4.1]]
list1[1].insert(len(list1),3.0)
print(list1)

['aa', [2, 3, 3.0, 4.1]]

In [1]:
a = 5
print(6) if a>3 else print(5)

6

In [1]:
for num in range(2,10):
    if num > 1:
        for i in range(2,num):
            if (num%i) == 0:
                break
        else:
            print(num,end=",")

2,3,5,7,

In [2]:
x = 10
while x:
    x -=1
    if x % 2:
        print(x,end='')
else:
    print(x)#布尔值是非零，最后跳出循环还有一个x=0

975310

In [3]:
k=0
while True:
    s = input("请输入q退出:")
    if s == 'q':
        k += 1
        continue
    else:
        k+=2
        break
print(k)

In [4]:
#考点：列表可以有重复
#但是字典不可有重复出现，并且记录最后一个键对应的值
l1 = [1,2,3,2]
l2 = ['aa','bb','cc','dd','ee']
d = {}
for index in range(len(l1)):
    d[l1[index]] = l2[index]
print(d)

{1: 'aa', 2: 'dd', 3: 'cc'}

In [5]:
a = [9,6,4,5]
N = len(a)
for i in range(int(len(a) / 2)):
    a[i],a[N-i-1] = a[N-i-1],a[i]
print(a)

[5, 4, 6, 9]

In [6]:
s = {}
type(s)

dict